h1{
    border-left:5px dotted rgb(163, 126, 126);
    border-right:5px dotted rgb(163, 126, 126);
    border-top:5px dashed violet;
    border-bottom:5px dashed violet;
    padding-left: 500px;
    padding-right: 500px;
    margin: 36px;
}
/*tipo de caja generada en un texto*/ 
/*inline, block, inline-block, none*/
.prueba{
    outline: 1px solid black;
    display:inline-flex;
    margin-left: 500px;
}

p{
    margin-left: 15px;
    margin-right: 15px;
}